    .name-form {
        background-color: #fff;
    }
        
    input {
        height: 70px !important;
    }
        
    .form-control {
        border-radius: 10px;
        box-shadow: 0px 0px 17px 6px #f4f4f4;
        font-size: 18px;
    }    
        label {
        font-size: 20px;
    }