$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$main-color:#CBA860;
$second-color:#4c4c4c;
$green-section:#02417d;
$green-light:#E1F8E1;
$dark-green:#1d4b24;
$sub-main-color:#F5985D;
$small-section-color:#ffdbc0;
$dark-orange:#801300;
$section-bg: #fdede3;
// $tet: